<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planera Personal</title>
    <link rel="stylesheet" href="/index.css">
</head>

<body>

    <header>
        <h1>Planera frånvaro & ersättare</h1>

        <form action="/" method="get">
            <input type="text" placeholder="Ange år" name="year">
            <button div class="button" type="submit">Öppna år</button>
        </form>

        <h2 div class="small-title">År <%= year %></h2>
    </header>


    <div class="calendar-container">
        <% for(let month = 0;month < calendar.length;month++) { %>

        <div class="month-container" id="<%= months[month] %>">
            <h3 style="text-align: center;"> <%= months[month] %> </h3>


            <div class="day-of-week">
                <span>Sön</span><span>Mån</span><span>Tis</span><span>
                    Ons</span><span>Tor</span><span>Fre</span><span>Lör</span>
            </div>
            <% for(let x = 0;x < calendar[month].length;x++) { %>
            <div class="days">
                <% for(let y = 0;y < calendar[month][x].length;y++) { %>

                <div class="date">
                    <div id="<%=calendar[month][x][y] %>">
                        <%= calendar[month][x][y] %>
                    </div>
                </div>

                <% } %>
            </div>
            <% } %>
        </div>

        <% } %>
    </div>

</body>

</html>